In [1]:
import pandas as pd

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/argparse.pyc, but /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

In [25]:
df = pd.DataFrame(0,index=range(6), columns=range(7))
df.loc[range(3),range(2)]=1
df.loc[3,3]=1
df.loc[4,4]=1
df[5]=1

In [37]:
df[df.columns[(df > 0).astype(int).sum(axis=0)>1]]

   0  1  5
0  1  1  1
1  1  1  1
2  1  1  1
3  0  0  1
4  0  0  1
5  0  0  1

In [38]:
df

   0  1  2  3  4  5  6
0  1  1  0  0  0  1  0
1  1  1  0  0  0  1  0
2  1  1  0  0  0  1  0
3  0  0  0  1  0  1  0
4  0  0  0  0  1  1  0
5  0  0  0  0  0  1  0